.btn {
    color: $glaucous;
    font-weight: 700;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    @include device-with-hover {
        transition: text-shadow .3s;
        &:hover {
            text-shadow: .5px .5px 1px black;
        }
    }

    &:active {
        transform: translateY(1.5%);
    }
}

.btn.btn--first {
    text-transform: uppercase;
    font-size: 18px;
    color: $glaucous;
}

.btn.btn--second {
    opacity: .5; 
}
