.home-page {
    padding: 16px 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-tablet-landscape-up {
        padding: 32px 16px;
    }
}

.home-page__header {
    width: 100%;
    max-width: 600px;
    width: 100%;
    margin-bottom: 32px;
}

.home-page__title {
    width: 100%;
    text-align: center;
    color: $smaragdine;
    margin: 0;
}

.home-page__main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-page__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 450px;
    width: 100%;
}

.home-page__form-field {
    margin-bottom: 24px;
}

.home-page__btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.home-page__animated {
    position: relative;
    height: 40px;
    max-width: 180px;
    width: 100%;
    transform-style: preserve-3d;
}

.home-page__animated-btn,
.home-page__answer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.home-page__animated-btn {
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.home-page__answer {
    font-size: 18px;
    color: $red;
    text-align: center;
    transform: translate(-50%, -50%) rotateX(170deg);
}

.home-page__try-again {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rotate-to,
.rotate-from {
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.rotate-to {
    animation-name: rotate-to;
}

.rotate-from {
    animation-name: rotate-from;
}

@keyframes rotate-to {
    0% {
       transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}

@keyframes rotate-from {
    0% {
       transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}
